In [50]:
#Task-1 Making the three different dataframes in python and saving them as .csv files

In [129]:

import pandas as pd    # Importing the pandas as 'pd' to read the tables
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],           # updating the all the information from the employees Table
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],  
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}
employee = pd.DataFrame(employee_data) # saving the table as employee data 


employee.to_csv("employee.csv", index=False) # saving the table as csv

In [130]:

seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],  # updating the all the information from the seniority Table
    "Designation_Level": [2, 2, 3, 2, 3]    
}
seniority = pd.DataFrame(seniority_data) # saving the table as seniority
seniority.to_csv("seniority.csv", index=False) # saving the table as csv

In [131]:

project_data = {
    "ID": ["A001","A002","A003","A004","A005","A002","A005","A003","A001","A003","A001","A004","A004","A005"], # updating the all the information from the Project_data Table
    "Project": [
        "Project 1","Project 2","Project 3","Project 4","Project 5",
        "Project 6","Project 7","Project 8","Project 9","Project 10",
        "Project 11","Project 12","Project 13","Project 14"  # updating the "Project" information
    ],
    "Cost": [
        1002000,2000000,4500000,5500000,None,
        680000,400000,350000,None,300000,
        2000000,1000000,3000000,200000   # updating the "Cost" information
    ],
    "Status": [
        "Finished","Ongoing","Finished","Ongoing","Finished",
        "Failed","Finished","Failed","Ongoing","Finished",
        "Failed","Ongoing","Finished","Finished"  # updating the "Status" information
    ]
}

project = pd.DataFrame(project_data) # saving the table as Project_data

project.to_csv("project.csv", index=False) # saving the table as csv

In [132]:

pd.set_option("display.max_rows", None)  # displaying the all the "Columns" and "Rows"
pd.set_option("display.max_columns", None)


print("Employee DataFrame:\n", employee.to_string(index=False))  
print("\nSeniority DataFrame:\n", seniority.to_string(index=False))
print("\nProject DataFrame (with missing values):\n", project.to_string(index=False)) # displaying all the three tables

Employee DataFrame:
   ID            Name Gender    City  Age
A001      John Alter      M   Paris   25
A002 Alice Luxumberg      F  London   27
A003   Tom Sabestine      M  Berlin   29
A004      Nina Adgra      F Newyork   31
A005       Amy Johny      F  Madrid   30

Seniority DataFrame:
   ID  Designation_Level
A001                  2
A002                  2
A003                  3
A004                  2
A005                  3

Project DataFrame (with missing values):
   ID    Project    Cost   Status
A001  Project 1 1002000 Finished
A002  Project 2 2000000  Ongoing
A003  Project 3 4500000 Finished
A004  Project 4 5500000  Ongoing
A005  Project 5     NaN Finished
A002  Project 6  680000   Failed
A005  Project 7  400000 Finished
A003  Project 8  350000   Failed
A001  Project 9     NaN  Ongoing
A003 Project 10  300000 Finished
A001 Project 11 2000000   Failed
A004 Project 12 1000000  Ongoing
A004 Project 13 3000000 Finished
A005 Project 14  200000 Finished

In [85]:
# Task-2 Finding the Missing values for the cost column in the dataframe " project" and replacing the missing values by runing average using the "for" loop.

In [134]:

import numpy as np   # importing numpy to use numerical values


project = pd.read_csv("project.csv")  


running_sum = 0
count = 0

In [135]:

for i in range(len(project)):   
    if pd.isna(project.loc[i, "Cost"]): 
        if count > 0:
            project.loc[i, "Cost"] = running_sum / count   # calculate the running average and assign it to the missing 'Cost'
            running_sum += project.loc[i, "Cost"]
            count += 1 
    else:
        running_sum += project.loc[i, "Cost"]  # if the 'Cost' is not missing, add it to the running sum
        count += 1  # increment the count for the number of valid costs encountered

In [136]:

project.to_csv("project_updated.csv", index=False) # saving the updated file as csv


pd.set_option("display.max_rows", None) # displaying all the rows
pd.set_option("display.max_columns", None) # displaying all the columns
pd.set_option("display.float_format", '{:.1f}'.format)

print("\n Updated project Dataframe:\n")
print(project.to_string(index=False)) # dispaying the project dataframes with the missed values

 Updated project Dataframe:

  ID    Project      Cost   Status
A001  Project 1 1002000.0 Finished
A002  Project 2 2000000.0  Ongoing
A003  Project 3 4500000.0 Finished
A004  Project 4 5500000.0  Ongoing
A005  Project 5 3250500.0 Finished
A002  Project 6  680000.0   Failed
A005  Project 7  400000.0 Finished
A003  Project 8  350000.0   Failed
A001  Project 9 2210312.5  Ongoing
A003 Project 10  300000.0 Finished
A001 Project 11 2000000.0   Failed
A004 Project 12 1000000.0  Ongoing
A004 Project 13 3000000.0 Finished
A005 Project 14  200000.0 Finished

In [89]:
# Task-3 splitting the name column in Employe dataframe into two individual columns as " First Name" and " Last Name" and removing the older name coumn.

In [138]:
employee = pd.read_csv("employee.csv")


employee[["First Name", "Last Name"]] = employee["Name"].str.split(" ", n=1, expand=True) # splitting the name into two individual columns as " First_name" and " Last_name" 


employee = employee.drop(columns=["Name"]) # dropping the name column


employee.to_csv("employee_updated.csv", index=False)

print("\n Employee table updated:\n")
print(employee.to_string(index=False)) # displaying employee table with  "First_name" and "Last_name" columns

 Employee table updated:

  ID Gender    City  Age First Name Last Name
A001      M   Paris   25       John     Alter
A002      F  London   27      Alice Luxumberg
A003      M  Berlin   29        Tom Sabestine
A004      F Newyork   31       Nina     Adgra
A005      F  Madrid   30        Amy     Johny

In [139]:
# Task-4 Naming the table with "Final" and joining all three dataframes in a single dataframe.

In [140]:
employee = pd.read_csv("employee_updated.csv")  
seniority = pd.read_csv("seniority.csv")
project = pd.read_csv("project_updated.csv")

merged1 = pd.merge(employee, seniority, on="ID", how="inner") # merging employee dataframe with the seniority dataframe
Final = pd.merge(merged1, project, on="ID", how="inner") # merging project data frame with the above merged table

Final.to_csv("final.csv", index=False) # saving merged file as "Final" 

pd.set_option("display.max_rows", None) 
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:.0f}'.format)

print("\nFinal:\n")
print(Final.to_string(index=False)) # displaying Combined one dataframe

Final:

  ID Gender    City  Age First Name Last Name  Designation_Level    Project    Cost   Status
A001      M   Paris   25       John     Alter                  2  Project 1 1002000 Finished
A001      M   Paris   25       John     Alter                  2  Project 9 2210312  Ongoing
A001      M   Paris   25       John     Alter                  2 Project 11 2000000   Failed
A002      F  London   27      Alice Luxumberg                  2  Project 2 2000000  Ongoing
A002      F  London   27      Alice Luxumberg                  2  Project 6  680000   Failed
A003      M  Berlin   29        Tom Sabestine                  3  Project 3 4500000 Finished
A003      M  Berlin   29        Tom Sabestine                  3  Project 8  350000   Failed
A003      M  Berlin   29        Tom Sabestine                  3 Project 10  300000 Finished
A004      F Newyork   31       Nina     Adgra                  2  Project 4 5500000  Ongoing
A004      F Newyork   31       Nina     Adgra                  2 Project 12 1000000  Ongoing
A004      F Newyork   31       Nina     Adgra                  2 Project 13 3000000 Finished
A005      F  Madrid   30        Amy     Johny                  3  Project 5 3250500 Finished
A005      F  Madrid   30        Amy     Johny                  3  Project 7  400000 Finished
A005      F  Madrid   30        Amy     Johny                  3 Project 14  200000 Finished

In [113]:
# Task-5 Adding the 5% bonus to the employees who finished the project and adding a new column bonus in the final dataframe.

In [141]:
Final = pd.read_csv("final.csv")


Final["Bonus"] = 0  

for i in range(len(Final)):
    if Final.loc[i, "Status"] == "Finished": # finding out the status finished
        Final.loc[i, "Bonus"] = Final.loc[i, "Cost"] * 0.05   # adding the 5% bonus and adding bonus column

Final.to_csv("final_updated.csv", index=False) 

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:.0f}'.format)

print("\n Final DataFrame with Bonus column:\n")
print(Final.to_string(index=False))  # displaying the updated dataframe with bonus column

 Final DataFrame with Bonus column:

  ID Gender    City  Age First Name Last Name  Designation_Level    Project    Cost   Status  Bonus
A001      M   Paris   25       John     Alter                  2  Project 1 1002000 Finished  50100
A001      M   Paris   25       John     Alter                  2  Project 9 2210312  Ongoing      0
A001      M   Paris   25       John     Alter                  2 Project 11 2000000   Failed      0
A002      F  London   27      Alice Luxumberg                  2  Project 2 2000000  Ongoing      0
A002      F  London   27      Alice Luxumberg                  2  Project 6  680000   Failed      0
A003      M  Berlin   29        Tom Sabestine                  3  Project 3 4500000 Finished 225000
A003      M  Berlin   29        Tom Sabestine                  3  Project 8  350000   Failed      0
A003      M  Berlin   29        Tom Sabestine                  3 Project 10  300000 Finished  15000
A004      F Newyork   31       Nina     Adgra                  2  Project 4 5500000  Ongoing      0
A004      F Newyork   31       Nina     Adgra                  2 Project 12 1000000  Ongoing      0
A004      F Newyork   31       Nina     Adgra                  2 Project 13 3000000 Finished 150000
A005      F  Madrid   30        Amy     Johny                  3  Project 5 3250500 Finished 162525
A005      F  Madrid   30        Amy     Johny                  3  Project 7  400000 Finished  20000
A005      F  Madrid   30        Amy     Johny                  3 Project 14  200000 Finished  10000

In [95]:
# Task-6 Decreasing the designation level by 1, whose projects have " Failed" status and deleting who have more than 4

In [142]:


Final = pd.read_csv("final_updated.csv")


for i in range(len(Final)):
    if Final.loc[i, "Status"] == "Failed":  # finding out the status failed
        if Final.loc[i, "Designation_Level"] > 1:   # demoting the designation level by 1
            Final.loc[i, "Designation_Level"] -= 1 

Final = Final[Final["Designation_Level"] <= 4] # deleting the designation level which are above 4


Final.to_csv("final_updated_task6.csv", index=False) 


pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:.0f}'.format)

print("\n Final DataFrame after demotions:\n") 
print(Final.to_string(index=False)) # displaying the updated dataframe with designation

 Final DataFrame after demotions:

  ID Gender    City  Age First Name Last Name  Designation_Level    Project    Cost   Status  Bonus
A001      M   Paris   25       John     Alter                  2  Project 1 1002000 Finished  50100
A001      M   Paris   25       John     Alter                  2  Project 9 2210312  Ongoing      0
A001      M   Paris   25       John     Alter                  1 Project 11 2000000   Failed      0
A002      F  London   27      Alice Luxumberg                  2  Project 2 2000000  Ongoing      0
A002      F  London   27      Alice Luxumberg                  1  Project 6  680000   Failed      0
A003      M  Berlin   29        Tom Sabestine                  3  Project 3 4500000 Finished 225000
A003      M  Berlin   29        Tom Sabestine                  2  Project 8  350000   Failed      0
A003      M  Berlin   29        Tom Sabestine                  3 Project 10  300000 Finished  15000
A004      F Newyork   31       Nina     Adgra                  2  Project 4 5500000  Ongoing      0
A004      F Newyork   31       Nina     Adgra                  2 Project 12 1000000  Ongoing      0
A004      F Newyork   31       Nina     Adgra                  2 Project 13 3000000 Finished 150000
A005      F  Madrid   30        Amy     Johny                  3  Project 5 3250500 Finished 162525
A005      F  Madrid   30        Amy     Johny                  3  Project 7  400000 Finished  20000
A005      F  Madrid   30        Amy     Johny                  3 Project 14  200000 Finished  10000

In [115]:
# Task-7  Drop the Gender column and adding "Mr" and "Mrs" to first name.

In [143]:
Final = pd.read_csv("final_updated_task6.csv") 


for i in range(len(Final)):
    if Final.loc[i, "Gender"] == "M": 
        Final.loc[i, "First Name"] = "Mr. " + Final.loc[i, "First Name"] # adding prefix "Mr" to  first name
    elif Final.loc[i, "Gender"] == "F":
        Final.loc[i, "First Name"] = "Mrs. " + Final.loc[i, "First Name"] # adding prefix "Mrs" to  first name


Final = Final.drop(columns=["Gender"])  # dropping the gender column 


Final.to_csv("final_updated_task7.csv", index=False)


pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:.0f}'.format)

print("\n Final DataFrame :\n")
print(Final.to_string(index=False)) # displaying the updated dataframe removing the gender column

 Final DataFrame :

  ID    City  Age First Name Last Name  Designation_Level    Project    Cost   Status  Bonus
A001   Paris   25   Mr. John     Alter                  2  Project 1 1002000 Finished  50100
A001   Paris   25   Mr. John     Alter                  2  Project 9 2210312  Ongoing      0
A001   Paris   25   Mr. John     Alter                  1 Project 11 2000000   Failed      0
A002  London   27 Mrs. Alice Luxumberg                  2  Project 2 2000000  Ongoing      0
A002  London   27 Mrs. Alice Luxumberg                  1  Project 6  680000   Failed      0
A003  Berlin   29    Mr. Tom Sabestine                  3  Project 3 4500000 Finished 225000
A003  Berlin   29    Mr. Tom Sabestine                  2  Project 8  350000   Failed      0
A003  Berlin   29    Mr. Tom Sabestine                  3 Project 10  300000 Finished  15000
A004 Newyork   31  Mrs. Nina     Adgra                  2  Project 4 5500000  Ongoing      0
A004 Newyork   31  Mrs. Nina     Adgra                  2 Project 12 1000000  Ongoing      0
A004 Newyork   31  Mrs. Nina     Adgra                  2 Project 13 3000000 Finished 150000
A005  Madrid   30   Mrs. Amy     Johny                  3  Project 5 3250500 Finished 162525
A005  Madrid   30   Mrs. Amy     Johny                  3  Project 7  400000 Finished  20000
A005  Madrid   30   Mrs. Amy     Johny                  3 Project 14  200000 Finished  10000

In [119]:
# Task-8  promoting the designation level by 1 for the employees who age is above the 28 years using the "IF" Condition.

In [144]:


Final = pd.read_csv("final_updated_task7.csv")


for i in range(len(Final)):
     
    if Final.loc[i, "Age"] > 29:       # finding out the employees whose age is above 29
        
        Final.loc[i, "Designation_Level"] += 1  # adding the designation level by 1

Final.to_csv("final_updated_task8.csv", index=False)

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:.0f}'.format)

print("\nFinal DataFrame after promotions:\n") 
print(Final.to_string(index=False)) # displaying the updated dataframe

Final DataFrame after promotions:

  ID    City  Age First Name Last Name  Designation_Level    Project    Cost   Status  Bonus
A001   Paris   25   Mr. John     Alter                  2  Project 1 1002000 Finished  50100
A001   Paris   25   Mr. John     Alter                  2  Project 9 2210312  Ongoing      0
A001   Paris   25   Mr. John     Alter                  1 Project 11 2000000   Failed      0
A002  London   27 Mrs. Alice Luxumberg                  2  Project 2 2000000  Ongoing      0
A002  London   27 Mrs. Alice Luxumberg                  1  Project 6  680000   Failed      0
A003  Berlin   29    Mr. Tom Sabestine                  3  Project 3 4500000 Finished 225000
A003  Berlin   29    Mr. Tom Sabestine                  2  Project 8  350000   Failed      0
A003  Berlin   29    Mr. Tom Sabestine                  3 Project 10  300000 Finished  15000
A004 Newyork   31  Mrs. Nina     Adgra                  3  Project 4 5500000  Ongoing      0
A004 Newyork   31  Mrs. Nina     Adgra                  3 Project 12 1000000  Ongoing      0
A004 Newyork   31  Mrs. Nina     Adgra                  3 Project 13 3000000 Finished 150000
A005  Madrid   30   Mrs. Amy     Johny                  4  Project 5 3250500 Finished 162525
A005  Madrid   30   Mrs. Amy     Johny                  4  Project 7  400000 Finished  20000
A005  Madrid   30   Mrs. Amy     Johny                  4 Project 14  200000 Finished  10000

In [101]:
# Task-9 Adding the project cost for all employees and nameing it has "TotalProjCost"

In [145]:

Final = pd.read_csv("final_updated_task8.csv")


TotalProjCost = Final.groupby(["ID", "First Name"])["Cost"].sum().reset_index() # creating the new dataframe with the "ID" " Firstname" " Totalcost"


TotalProjCost = TotalProjCost.rename(columns={"Cost": "Total Cost"})


TotalProjCost.to_csv("total_project_cost.csv", index=False)


pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:.0f}'.format)

print("\n Total project cost per employee:\n")
print(TotalProjCost.to_string(index=False)) # displacing the new dataframe

 Total project cost per employee:

  ID First Name  Total Cost
A001   Mr. John     5212312
A002 Mrs. Alice     2680000
A003    Mr. Tom     5150000
A004  Mrs. Nina     9500000
A005   Mrs. Amy     3850500

In [103]:
#Task-10 Printing the employee details whose city name have "o".

In [146]:
Final = pd.read_csv("final_updated_task8.csv")


filtered = Final[Final["City"].str.contains("o", case=False, na=False)]  # filtering the city name which have "O"


pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", '{:.0f}'.format)

print("\nEmployees from cities containing 'o':\n")
print(filtered.to_string(index=False)) # displaying all the employee details whose city name has "O"

Employees from cities containing 'o':

  ID    City  Age First Name Last Name  Designation_Level    Project    Cost   Status  Bonus
A002  London   27 Mrs. Alice Luxumberg                  2  Project 2 2000000  Ongoing      0
A002  London   27 Mrs. Alice Luxumberg                  1  Project 6  680000   Failed      0
A004 Newyork   31  Mrs. Nina     Adgra                  3  Project 4 5500000  Ongoing      0
A004 Newyork   31  Mrs. Nina     Adgra                  3 Project 12 1000000  Ongoing      0
A004 Newyork   31  Mrs. Nina     Adgra                  3 Project 13 3000000 Finished 150000